.gradle
.settings
.classpath
.project
build
bin
proxyServer/bin
proxyServer/rundir
desktopRuntime/eclipseProject/*
desktopRuntime/_eagstorage*
desktopRuntime/eclipseProject/bin*
desktopRuntime/hs_err_*
desktopRuntime/crash-reports/*
desktopRuntime/options.txt
desktopRuntime/_eagstorage*
/.metadata/
desktopRuntime/eclipseProject/.classpath
desktopRuntime/eclipseProject/.project
desktopRuntime/eclipseProject/eaglercraftDebugRuntime.launch
desktopRuntime/eclipseProject/.classpath
.gitpod.yml
javascript/EaglercraftX_1.8_Offline_en_US.html
javascript/EaglercraftX_1.8_Offline_International.html
javascript/Resent_3.7_patch__1.8_US.html
javascript/Resent_3.7_patch__1.8_International.html
